/*
#feffff white
#98dafc baby blue
#daad86 light brown
#312c32 dark gray
*/

* {
	text-align: center;
}

header {
	font-family: 'Audiowide', cursive;quotes: ;
	background-color: #feffff;
	color: #daad86;
}

.container{
	padding-bottom: 25px;
	padding-left: 10%;
	padding-right: 10%;
}

.refresh {
	/*margin-left: 35%;*/
}

#reset {

}

.gamearea {
	text-align: left;
	padding-bottom: 25px;
}

.picarea {
	padding-bottom: 25px;
}

.glyphicon.glyphicon-globe{
	font-size:  75px;
	color: #98dafc;
}

.jumbotron {
	background-image: url(../img/bg.jpeg);
	background-size: 100%;
	width: 100%;
	height: 300px;
}

.panel-heading {
	background-color: #daad86;
}
